<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion Translation Service</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to EZSPEECH</h1>
        </header>
        
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="logo" class="main-image">

        <section class="features">
            <h2>Features</h2>
            <p>
                Our service stands out for its highly accurate translations, support for over 50 languages, and a quick turnaround that ensures your needs are met with speed and precision. Whether it's documents, websites, or personal communications, we ensure top-notch quality.
            </p>
        </section>
        
        <section class="how-it-works">
            <h2>How it works</h2>
            <p>
                Getting your translation started is as simple as 1-2-3. First, choose the text you need translated. Next, select the target language from our wide range of supported languages. Finally, submit your request, and our expert translators will get to work, delivering your translation quickly and accurately.
            </p>
        </section>
        
        <a href="{{ url_for('translate') }}" class="cta-button">Get Started Now</a>
    </div>
</body>
</html>
